.Rproj.user
.Rhistory
.RData
.Ruserdata
introduction_to_R.Rproj
challenge_out.RDS
challenge_out.csv
03_exploratory_data_analysis_2_aes_group_order.R
06_felfedezo_adatelemzes.R
06_felfedezo_adatelemzes.html
06_felfedezo_adatelemzes.nb.html